<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace" monitorInterval="30" >
	<Properties>
		   <Property name="log-path">C:/wsFindStringsInFlatFiles/config</Property>
	</Properties>
    
	<Appenders>
	    <RollingFile name="FindStringsInFlatFilesLogger" fileName="${log-path}/findStringsInFlatFiles.log"
			filePattern="${log-path}/findStringsInFlatFiles-%d{yyyy-MM-dd}.log" >
			
			<PatternLayout pattern="[%d{yyyyMMddHHmmssSSS}][%-5level][%c{1}][%X{sid}] - Message: %msg%n" />
			
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="1000MB" />
			</Policies>
			
			<DefaultRolloverStrategy>
				<Delete basePath="C:/wsFindStringsInFlatFiles/config" maxDepth="1">
					<IfFileName glob="*findStringsInFlatFiles*" />
					<IfLastModified age="4d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	</Appenders>
	
	<Loggers>
		<Root name="com.galavec.findstrings" level="INFO" includeLocation="false">
			<AppenderRef ref="FindStringsInFlatFilesLogger" />
		</Root>
	</Loggers>
</Configuration>
